<div class="card filters">

  <div class="card-header">
    <strong>Categories</strong>
  </div>
  <div class="list-group">
    <a class="list-group-item" routerLink="">All Phones</a>
    <div *ngFor="let category of categories" class="list-group">
      <a class="list-group-item" routerLink="/shop/category/{{category.id}}">{{category.name}}</a>
    </div>
  </div>

    <div class="card-header">
      <strong>Filters</strong>
    </div>
  
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="min">Minimum:</label>
          <input type="number" id="min" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="max">Maximum:</label>
          <input type="number" id="max" class="form-control">
        </div>
        <br>
        <button class="btn btn-primary btn-block btn-lg">Filter by Price</button>
      </form>
    </div>
  </div>
  