<div class="card filters">

  <div class="card-header">
    <strong>Categories</strong>
  </div>
  <div class="list-group">
    <a class="list-group-item" routerLink="">All Phones</a>
    <div *ngFor="let category of categories" class="list-group">
      <a class="list-group-item" routerLink="/shop/category/{{category.id}}">{{category.name}}</a>
    </div>
  </div>

    <div class="card-header">
      <strong>Filter by Price</strong>
    </div>
  

      <div class="list-group">
        <div *ngFor="let price of prices" class="list-group">
          <a class="list-group-item" routerLink="/shop/price/{{price.price}}">{{price.price}}</a>
        </div>
    </div>
  </div>
  