<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" [src]="productItem.imageUrl"/>

    <div class="card-body">
      <p class="card-text">
        <strong>{{productItem.name}}</strong>
        <i *ngIf="addedToWishlist" class="fas fa-bookmark" (click)="handleRemoveFromWishlist()"></i>
        <i *ngIf="!addedToWishlist"class="far fa-bookmark" (click)="handleAddToWishlist()"></i>
        <br>
        <strong>{{ productItem.price | currency: 'EUR' }}</strong>
        
      </p>
      <p class="card-text">{{ productItem.description | slice: 0:80 }}...</p>
      <div class="d-flex justify-content-between align-items-center">       
          <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add to Cart</button>       
      </div>
    </div>